<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top justify-content-between">
  <div class="container">
  <a class="navbar-brand" href="/">Mission Planner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-sm-0">
      {% if session["login"]==True %}
      <li class="nav-item">
        <a class="nav-link" href="/mission">Mission Creation <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>

    <ul class="navbar-nav ml-auto">

      {% if session["login"]==True %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{session['username']}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      {% else %}

        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="/login" class="btn btn-secondary">Login</a>
          <a href="/register" class="btn btn-secondary">Register</a>
        </div>
      {% endif %}
    </ul>
  </div>
</div>
</nav>
</body>